@font-face {
    font-family: 'roboto_slab_bold';
    src: url('/fonts/roboto-slab/RobotoSlab-Bold-webfont.eot');
    src: url('/fonts/roboto-slab/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/roboto-slab/RobotoSlab-Bold-webfont.woff') format('woff'),
    url('/fonts/roboto-slab/RobotoSlab-Bold-webfont.ttf') format('truetype'),
    url('/fonts/roboto-slab/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;font-style: normal;
}

body {background: #f1f2f6;padding-bottom: 51px;font-size: 15px;line-height: 20px;}
html {position: relative;min-height: 100%;}
html,body {margin: 0 auto;padding-top: 0px;}
#app {margin-bottom: 50px;}
.container-custom {max-width: 1600px;margin-left: 0;}
.footer {position: absolute;bottom: 0;width: 100%;padding:15px;}
.footer-container{padding: 0 20px;color: #ccc;}
.container-main {}
.topsection {background:#3bafda}

a.dark-a {color:#434a54}

h1, h2, h3, h4, h5, h6 {font-family: roboto_slab_bold, Roboto, sans-serif;}
.main-font {font-family: roboto_slab_bold, Roboto, sans-serif;}
/* GENERAL*/
.search-backdrop {z-index: 5;position: fixed;top: 0;right: 0;bottom: 0;left: 0;background-color: #000;opacity: 0.3;}
.card {position:relative;margin:0 0 16px 0;background-color:#fff;transition:box-shadow .25s;border-radius:2px;box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;}
.card .card-content{padding:16px;border-radius:0 0 2px 2px;}
.h1, h1 {font-size: 32px;}
.h2, h2 {font-size: 26px}
.h3, h3 {font-size: 22px}
.h5, h5 {font-size: 16px;}

.thin {font-weight: 300;}
.label {font-size: 100%;}
.text-primary {color: #3bafda!important;}

.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color: #666;}
.jumbotron p {font-weight: inherit; font-size: inherit;}

.inblock {display:inline-block;}
.text-white {color: #FFFFFF;}
.badge a, .label a {color: #fff;}

.help-block {line-height:28px; background: #f2dede;font-weight: 700;}

.avatar-small {height: 70px;}
.avatar-med {height: 100px;}
.avatar-lg {height: 140px;}
.fullwidth {margin-left:15px;margin-right:15px;}

.tip {background: #f1f2f6;padding:5px 10px;color: #777;}

.datetimepicker.dropdown-menu {background: #fff;}

.default-icon {font-size: 40px!important;color:#999;}
.default-thumb {font-size:100px!important;color:#999;}

.jumbotron p {font-weight: 400;}

.main_alert {border-radius: 0;margin-top: -25px;}
.home_alert .alert {position: absolute;top: 6%;min-width: 50%;left: 25%;}
.alert_fa {float: left;margin-right: 10px;font-size:26px !important;}
.label-default {background: #eee;border: 0;}
.alert-warning {color: #8a6d3b!important;}

.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover {background-color:#3bafda;border-color:transparent;}
/*Homepage*/
.homepage .navbar-public.navbar {margin-bottom:0;background:transparent;}
.homepage .navbar-public.navbar.affix {background:url("/img/nav-bg-man.jpg") top center transparent;}

.headsection {background:#3B4039;height: 100vh;max-height: 959px;}
.homehead {margin-top:-50px;background: url("/img/home-large-man.jpg") center center #3B4039;background-size: cover;min-height: 500px;max-height: 959px;align-items: center;color: #fff;height: 100%;}
.full-header .homehead {margin-bottom:-82px;}
.header_txt .h1 {font-size: 60px;}
.head_txt_wrap {text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);}
.header_txt {line-height:25px;margin-top: 21vh;padding: 20px;max-width: 540px;}
.header_txt_sub {font-size: 17px;padding-bottom: 25px;}

.main_services .nav-tabs.nav-justified>li {display: table-cell;width: 1%;}

.mini-header {height:inherit;}
.mini-header .header_txt {margin-top:15vh;}
.mini-header .header_txt {padding-top:0;}
.mini-header .homehead {height: 300px;}
.mini-header .headsection {height: auto;}
.homehead .searchform {max-width: 500px;}
.homehead .searchservice {height: 45px;padding:6px 12px 6px 40px;box-shadow: 0 0 13px #000;}
.homehead .search-only .search-icon {top: 7px;left:3px;}
.search-only .search-icon {color: #3bafda;}
.homehead .searchform .btn {position: absolute;right:0;top:0;height: 45px;font-size: 17px;padding:9px 20px 0 20px;}
.homehead .suggestresults {top:44px;}
.search-only .searchservice {padding: 6px 12px 6px 35px;}
.search-only {position: relative;}
.search-only .btn {background: #4fc1e9!important;font-weight: 700;}
.search_list {box-shadow: 0 2px 6px rgba(0,0,0,.4);}
.navbar-brand {padding: 12px 15px 0 10px;}

.projects_first .btn {position: absolute;right: 0;top: 0;}
.projects_first .searchform {margin: 25px auto;}

.maincat {background: transparent;}
.maincat.nav-tabs>li {border:0}
.maincat a {display: block;font-size: 16px;padding: 12px 0;color:#bbb;}
.maincat a:hover {color: #4FC1E9;}
.maincat a i {font-size: 40px;}
/*breads*/
.breadcrumb{margin-top: -25px;border-radius:0;padding: 12px 15px;}
/*Editor*/
.wysiwyg_editor {overflow:scroll; max-height:300px}
/*Forms*/
.form-control {font-size:15px;}
.input-clean {border:0;border-bottom: 1px solid #aab2bd;}
.panel .list-group {margin: 0;}
.panel-title {font-weight: 700;border-top: 1px solid #eee;font-size: 15px;}
.panel-group {margin: 0;}
.panel-group .panel-title a {padding:10px;}
/*SIDEBAR*/
.affix {top:0;left: 0;}
.affix.sidebar_in {margin-top:51px;}
.sidebar {margin-top: -20px;height: 100%;    width: 100%;}
.sidebar .inside {}
.sidebar_left {background: #fff;min-height:100vh;padding: 0;}
.sidebar_in {padding:0 15px 15px 15px;background: #fff;height: 100%;}
.sidebar_content {height: 100%;max-height: 100%;overflow: auto;max-width:1000px;}
.sidebar_content_in {padding: 30px 15px 15px 15px;}

.sidebar-menu {margin: 0 -15px 0 -15px;}
.sidebar-menu .nav-tabs {border-radius: 0;font-weight: 700;}
.sidebar-menu li a {font-weight: 300;}

.sidebar-content {padding-top: 20px;}
/* Nav */
.navbar-default .navbar-nav>li>a {color: #fff;}
.online {font-size: 14px!important;}
.online-circle {color: #8cc152;}
.offline-circle {color: #ed5565;}

.nav-wrapper {min-height: 50px;}
.navbar {background:#3BAFDA;color: #fff;border: 0;margin-bottom: 25px;width: 100%;z-index:21;}
.navbar-brand>img {display:inline;}
.tog-search {font-size: 17px;margin-right:10px;margin-bottom: 0;padding:6px 10px 6px 10px;}
.navbar-default .navbar-toggle {background-color:#3BAFDA;color: #fff;border:0;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color:#FFF;border-color: #fff;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover .icon-bar {background-color:#3BAFDA !important;}
.navbar-default .navbar-toggle .icon-bar {background-color:#FFF;}

.cat_services .panel-title {padding-left: 20px;}

.navbar-brand sup {font-size: 9px;font-weight: 400;top:-7px;}
.navbar-nav .default-icon {margin: -15px 0 -15px 0;vertical-align: middle;color: #fff;}
.navbar-custom {border-radius: 0;}
.navbar-default .navbar-brand {color:#fff;font-weight: 700;}
.navbar-default .nav > li > a:hover {background:#4FC1E9;color: #fff;}
.navbar-default .navbar-nav>.open>a {background:#4FC1E9;}
.navbar-collapse {border:0;}
.navbar-form {border:0;}

#nav-search {margin:6px 0 0 10px;}

.navbar-nav>li>a>.profile-image {margin: -10px 0 -10px 0;}
.navbar-form {position: relative;}
/*Notification*/
.noty_text a {color: #333;}
.timeago {font-size: 11px;color: #888;text-align: right;}
.dropdown-messages, .dropdown-notifs {width:250px;padding: 0;max-height: 400px;overflow-y: auto;}
.dropdown-menu>li>a {white-space: normal;}
.dropdown-menu li a, .dropdown-menu li>span {color: inherit;padding:5px 10px;}
.dropdown-messages li, .dropdown-notifs li {border-bottom: 1px solid #ccc;}
.dropdown-menu li {position: relative;}

.dropdown-notifs {color: inherit;}
.dropdown-menu {background:#fff;}
.dropdown {color: #666;}
/*Search*/
.searchform {position: relative;max-width: 600px;z-index: 6;}
.form-search .search-query {border: 0;}
.searchservice {font-size:18px;}
.suggestresults {position: absolute;top:34px;left:0;width:100%;background: #FFF;z-index: 20;}
.servicelist li a {display:block;padding: 8px 15px;font-size:17px;color:#434a54;border-bottom: 3px solid #eee;}
.servicelist li a:hover {border-bottom: 3px solid #4FC1E9;}
.serviceselect {max-height: 500px;overflow-y: auto;}
/*Fileuplader*/
.upload_item {max-width: 200px;float: left; margin-right: 10px;}
.thumbnail {position: relative;display: inline-block;width: 100%;max-width: 200px;}
.thumbnail .close, .img-thumbnail .close {position: absolute;top: 5px;right: 5px;z-index: 2;}
/*EDIT FORM */
.image_crop {width: 400px;height: 400px;}
.image_crop img {max-width: 100%;}
/* search */
.suggestresults {}
.pac-container {z-index: 9999;}
/* Map */
#promap {height: 300px;}
/*Modal*/
.modal-dialog{display: table;max-width: 600px;width: 93%;}
.loader {height:200px;line-height:200px;text-align: center;font-size:36px;color: #4FC1E9;}
.modal-backdrop {z-index: 30}
button.close {position:absolute;z-index:1060!important;right:5px;top:0;font-size:22px;}
/*REVIEWS*/
.br-wrapper {display: inline-block}
form .br-theme-fontawesome-stars-o {font-size: 30px;}
.br-theme-fontawesome-stars-o .br-widget a {font-size:20px;margin-right: 4px;}
.br-theme-fontawesome-stars-o .br-widget a.br-selected:after,
    .br-theme-fontawesome-stars-o .br-widget a.br-active:after,
        .br-theme-fontawesome-stars-o .br-widget a.br-fractional:after {color:#3BAFDA; }
/*Wizard*/
#rootwizard {margin:-20px 0 -20px 0;}
#rootwizard .progress {margin:5px 0;}
#rootwizard .tab-pane {min-height: 220px;}
#rootwizard .radio {padding:0;}
#rootwizard label {display: block; padding: 8px 0; border-bottom: 1px solid #eee;}
/*User*/
.user-profile-icon {height:40px;}
/*dashboard*/
.jumbotron {position: relative;}
.heading_btn {position: absolute;right:20px;top:20px;}
.jumbotron-contents h2 {margin-top: 0;}
.modal-body {padding:20px;}
.modal-body .jumbotron {box-shadow:none}
.modal-body .jumbotron-contents {margin:0;border: 0;padding: 0;}
.modal-body .image img {max-width: 100%;}
.dashjob .jobimg {height: 100px;}

.dash_pro_img {height: 40px;}
/*Comment*/
#comments_upload {position: absolute;left: 75px;bottom: 2px;z-index: 3;}
.submitcomment {margin-bottom: 15px;}
.chat-image {margin: 0 10px 0 0;}
.my_comment {width: 80%;margin-left: 20%;}
.my_comment .chat-message {background:#b9df90;}
.chat-message {margin-left: 50px;position: relative;}
.chattime {position: absolute;right:10px;bottom: 10px;color: #888;font-size: 11px;}
.submitcomment .input-group-addon {background: #f1f1f1}
.edit_tools {position: absolute;right:10px;top:10px;}

/*Professional*/
.dash_profile {padding-top: 30px;}
.pro_logo_small {height: 40px;}

.logo-string {display: inline-block;font-size:17px;font-weight: 700;color: #fff;white-space: nowrap;text-align: center;}
.sm-square {width: 52px;height: 52px;line-height: 52px;font-size:17px;background-size: contain;}
.md-square {width: 120px;height: 120px;line-height: 120px;font-size:36px;}
.lg-square {width: 180px;height: 180px;line-height: 180px;font-size:60px;}

.profile_logo {float: left;margin-top:-60px;}
.header-map {margin-top:-25px;margin-bottom: 25px;}
#profile-header {margin-bottom: 50px;margin-top:-25px;}
.header_info .lg-square {float:left;margin-right: 30px;    margin-top: -20px;}
#profile-header .lg-square .pro-logo-cell {
    margin-right: auto;margin-left: auto;border: 4px solid #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    background-size: contain;
    background-repeat: no-repeat;}
.lg-square .default-logo-container, .lg-square .logo-container {    width: 180px;
    height: 180px;border-radius: 0;
    line-height: 180px;
    font-size: 32px;
    font-weight: 800;}


.hero_image{background-position: 50% 50%;background-size: cover;background-color:#666;}
.no_hero {padding-top: 120px !important;min-height: 200px;}

.pro-logo-cell {background-position: center;text-align: center;color: #fff;background-repeat: no-repeat;background-color: #fff;background-size: contain;}
.header_text {padding-top: 32px;float: left;width: calc(100% - 230px);text-align: left;}
.header_text h1 {margin: 0 0 15px 0;}
.hero_headline {padding-top: 260px;min-height: 320px;}
.header_info {background:rgba(0,0,0,.45);padding-bottom:40px;}
.profile-content {margin-top: 20px;}

.pr_left {font-size: 16px;}
.pr_userimg {margin-top: -50px;text-align: center;margin-bottom: 20px;}
.pr_userimg img {height: 150px;}
.pr_ratings {text-align: center;}
.pr_left_reviews {font-size: 26px;font-weight: 700;}

/*Gallery*/
.img-thumbnail {position: relative}
.gallery_carousel {max-height:450px;overflow:hidden;}
.carousel-caption {background-color: rgba(0,0,0,.5);width:100%;padding-bottom:53px;}
/*Project*/
.hired_row {border: 3px solid #a0d468;}
.project_stats {border-bottom: 1px solid #eee;font-size: 17px;font-weight: 700;color: #666;}
.project_stats .col-xs-4 {border-left: 1px solid #eee;text-align: center;padding:15px 0;}
.project_stats_txt {font-size: 14px;color: #bbb;font-weight: 400;}
.credit_cost_sm {font-weight: 700;font-size: 13px;letter-spacing: -1px;}
.credit_cost_lg {font-weight:700;font-size:16px;letter-spacing: -1px;}

.profile_side_name {font-size: 23px;}
.profile_side_map {margin: 0 -15px 0 -15px;}
.profile_side_map img {width: 100%;}
.profile_side_img {margin-top: -40px;text-align: center;}
.profile_side_det {text-align: center;}
.profile_side_area {color:#999}

.project_wrap {border-bottom:1px solid #eee;}
.project_list:last-child {border-bottom: none;}
.project_list:first-child {border-top:1px solid #ddd;}
.project_item_params span {margin-right:15px;}
.project_item_desc {margin-top: 10px;}
.project_item {min-height: 127px;}

.markas {padding:15px 0 0 0;}
.brandname {display: block;}
.mini-profile{}
/*PUBLIC*/
.request_service {background:url("/img/request_service.jpg");min-height: 200px;background-size: cover;padding: 20px;color: #fff;text-shadow: 1px 1px 3px rgba(0,0,0, 0.7);}
.service_item a {display: block;padding:5px 0;}
/*PRICING*/
.pricing {min-width:685px;}
/*QUOTE*/
.reviews_block {position: relative;}
.quote_avatar {max-width: 120px;}
.quote_actions {margin: 0 -20px -20px -20px;padding:20px;}
.quote_actions .btn {font-size: 16px;min-width:130px; }
.quote_actions .btn i {display: block;font-size: 20px;}
.pro_textarea .wysihtml5-toolbar {float: right;}
.wysihtml5-sandbox {width: 100%!important;max-width:800px;}
.quote_submit {line-height: 44px;}
.quote_submit .btn {margin-left: 15px;}
.qt_label {margin: 5px 0 0 10px;line-height: 15px;}
.quote-message {margin-left: 120px;}

.collapse.in {display: block!important;visibility: visible!important;}

.quoteprice {font-size: 30px;font-weight: 300;text-align: right;padding-bottom: 10px;text-align: center;}
.quoteprice span {color: #888;font-size: 13px;}
.quote-logo {margin-right: 20px;}
.quote-head {margin-bottom: 15px;}
/*Responsive*/
/*Mobile*/
@media only screen and (max-width : 767px) {
    .homepage .navbar-public.navbar {background: #3BAFDA;}
    .header_txt .h1 {font-size: 30px;}
    .header_txt {font-size:15px;line-height: 20px; padding:30% 5px 0 5px;margin-top: 6vh;}
    .head_txt_wrap{color: #FFF;text-shadow:1px 1px 3px rgba(0,0,0, 0.7);}
    .header_txt h3 {font-size: 14px;}
    .header_txt_sub {font-size: 12px;}
    .modal-body {padding: 20px 5px;}
    .homehead {min-height: 400px;}
    .homehead .searchform {margin: 0 -14px;}
    .hero_headline {padding-top: 80px;}
    .header_info .lg-square {float: none;}
    .header_text {width: 100%;float: none;}
    #nav-search {visibility: hidden;display: none;}
    .quote-message {margin-left: 60px;}
    .fullwidth {width:inherit}
    .project-info {min-height:auto;}
    .project-quotes {overflow: visible;}
    .avatar-med {height:60px;}
    .affix {position: static;width: auto;}
    .sidebar_left {min-height: auto;}
    .sidebar_content_in {padding: 30px 0 15px 0;}
    .jumbotron .jumbotron-contents {padding:14px;}
    .navbar-collapse {background: #3BAFDA;}
    .navbar-default .nav > li > a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #fff !important;}
    .navbar-form .search-only {margin-top: 51px;padding-bottom: 20px;}
    .navbar-form .btn {position: absolute;right: 0;top: 0;}
}
/*TABLET*/
@media (min-width: 768px) {
    .carousel-caption {left:0;right:0;bottom: 0;}
}
/*Bigger*/
@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}
/*Extra Large*/
@media (min-width: 1441px) {
    .col-lg-4 {width: 30%;}
    .col-lg-7 {width: 70%;}
}

.pro_verify_icon {font-size: 58% !important;color:#3BAFDA;}

/**Utils*/
.padtb{padding-left:15px;padding-right:15px;}
.padding15 {padding-top:15px;padding-bottom: 15px;}
.margin15 {margin:15px 0;}

.bg-gray {background-color:#E6E9ED; }
.bg_white, .white_bg{background:#fff;}
.white_bg .table {background:#fff;}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.hide {
    display: none !important;
}

.no-border {
    border: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}
.no-top-margin {margin-top:0 !important;}
.no-bot-margin {margin-bottom:0 !important;}

.no-shadow {
    box-shadow: none !important;
}

.list-unstyled, .chart-legend, .contacts-list, .users-list, .mailbox-attachments {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flat {
    border-radius: 0 !important;
}

.text-bold, .text-bold.table td, .text-bold.table th {
    font-weight: 700;
}