body {font-family: Arial,sans-serif;}

.btn.change_stat {padding:3px 12px !important;;}

.change_stat {width:100px;font-weight: 700;}
.totweights {font-size: 18px;}

.stat_shipped {background: #4d8b46 !important;color:#FFF !important;}
.stat_complete {background: #8ecb53 !important;}
.stat_picking {background: #86cafa !important;}
.stat_printed {background: #fad685 !important;}
.stat_invoiced {background: #a4fda6 !important;}
.stat_no-stock {background: #FFF !important;color:red !important;}
.stat_closed {background: #FFF !important;color:red !important;}
.stat_on-hold {background: #FFF !important;color:red !important;}
.stat_cancelled {background: #FFF !important;color:red !important;}

.logo-mini {font-weight: 700;}

.dt-buttons {position: absolute !important;z-index: 50;}

.table-orders > tbody > tr > td {padding: 1px 5px 1px 5px; vertical-align: middle;}

.transin {background: transparent !important;border: 0 !important;}