<template>
    <div>
        <div class="alert alert-success" v-if="users.length > 1">
            <div>Users Viewing</div>
            <div v-for="user in usersExceptMe">
                <img class="profile-image user-profile-icon img-circle" :src="user.icon_url"> {{ user.name }}
            </div>
        </div>
        <form enctype="multipart/form-data" id="comment_form" v-if="disable_add == 0 && (disable_first_comment == 0 || (disable_first_comment == 1 && comment_room.comments.length > 0))" action="#" @submit.prevent="edit ? updateComment(comment.id) : createComment()">
            <div class="submitcomment jumbotron input-group">
                <div class="input-group-addon"><img class="profile-image user-profile-icon img-circle" :src="user_icon_url" /></div>
                <textarea v-model="comment.body" ref="commentinput" name="body" rows="4" class="form-control" placeholder="Your comment..." autofocus></textarea>
                <div id="comments_upload">
                    <span id="file_selected"></span>
                     <a href="javascript:void(0)" id="clipicon" onclick="$(this).next().trigger('click');"><i class="fa fa-paperclip fa-lg"></i> Attach</a><input style="display: none" multiple @change="onFileChange" id="attach_file" type="file">
                </div>
                <div class="sendarea input-group-addon">
                    <button v-show="!edit" type="submit" class="btn btn-primary pull-right">Send</button>
                    <button v-show="edit" type="submit" class="btn btn-primary pull-right">Edit Message</button>
                    <span id="loaditem"></span>
                </div>
                <input v-model="comment_room.id" name="comments_room_id" :value="comment_room.id" type="hidden" />
            </div>
        </form>
        <div v-if="disable_first_comment == 1 && comment_room.comments.length == 0" class="alert warning">
            Waiting for message from user before you can post.
        </div>
        <div class="comments">
             <div :id="'com' +comment.id" v-bind:class="{ 'my_comment' : isCurrentUsr(user_id, comment.user_id)}" v-for="comment in comment_room.comments">
                <div class="chat-image pull-left">
                    <img class="user-profile-icon img-circle" :src="comment.user.icon_url">
                </div>
                <div class="card chat-message ">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="text-bold">{{ comment.user.name }} <span class="badge badge-danger" v-if="comment.new_msg == 1">NEW</span></div>
                            <p>{{ comment.body }}</p>
                            <p v-if="comment.media">
                                <div v-for="file in comment.media">
                                    <a class="label label-primary" :href="'/files/comment/'+comment.id+'/general/'+file.filename"><i class="fa fa-paperclip"></i> {{ file.filename }}</a>
                                </div>
                            </p>
                        </div>
                        <div class="chattime" :title="comment.created_at">{{ comment.human_date }} <i class="fa fa-check"></i></div>
                        <div class="clearfix"></div>

                        <div class="edit_tools" v-if="isCurrentUsr(user_id, comment.user_id)">
                            <button @click="showComment(comment.id)" class="btn btn-primary btn-xs">Edit</button>
                            <button @click="deleteComment(comment.id)" class="btn btn-danger btn-xs">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                users: [],
                edit: false,
                comment_room: {
                    comments: [],
                    id: 0,
                },
                comment: {
                    id: '',
                    name: '',
                    file: '',
                    new_msg: 0,
                    comments_room_id: '',
                    body: ''
                }
            };
        },

        props: ['model', 'itemid', 'user_icon_url', 'user_id', 'id_token', 'disable_add', 'disable_first_comment'],
        
        created: function() {
            Vue.http.headers.common['Authorization'] = 'Bearer ' + this.id_token;

            var _this = this;
            this.fetchCommentList(function() {
                _this.listen();
            });

        },

        computed: {
          usersExceptMe() {
              return _.reject(this.users, user => this.user_id == user.id)
          }
        },
        
        methods: {
            listen: function() {
                var _this = this;
                Echo.private('chat_room.'+this.comment.comments_room_id)
                    .listen('.App.Events.Common.Comment.CommentCreated', function(e) {
                        e.comment.user = e.user;
                        e.comment.new_msg = 1;
                        _this.comment_room.comments.unshift(e.comment);
                    });

                Echo.join('chat_room.'+this.comment.comments_room_id)
                    .here((users) => {
                        this.users = users;
                    })
                    .joining((user) => {
                        this.users.push(user)
                    })
                    .leaving((person) => {
                        this.users = _.reject(this.users, user => user.id == person.id);
                    });
            },

            isCurrentUsr : function (current_user, check_user) {
                return current_user == check_user;
            },

            onFileChange (e) {
                this.comment.file = e.target.files || e.dataTransfer.files
                if (!this.comment.file.length) {
                    return
                }

                $('#file_selected').html(this.comment.file.length+' File Attached');
            },

            fetchCommentList: function(callback) {
                this.$http.get('/api/comment/'+this.model+'/'+this.itemid).then(function (response) {
                    this.comment_room = response.data
                    this.comment.comments_room_id = this.comment_room.id;

                    if(typeof callback !== 'undefined') {
                        callback();
                    };
                });
            },

            createComment: function () {
                if (this.comment.body) {

                    var formData = new FormData();

                    jQuery.each(this.comment.file, function(i, file) {
                        formData.append('file[]', file);
                    });
                    formData.append('body', this.comment.body);
                    formData.append('comments_room_id', this.comment.comments_room_id);
                    formData.append('id', this.comment.id);
                    formData.append('name', this.comment.name);

                    $('.sendarea').append('<i class="fa fa-spinner fa-spin fa-lg"></i>');

                    this.$http.post('/api/comment/store', formData).then(function (response) {
                        this.comment.body = ''
                        this.comment.file = ''
                        $('#file_selected').html('')
                        $('#attach_file').val('')
                        this.edit = false

                        $('.sendarea .fa-spinner').remove();
                    });

                }
            },

            updateComment: function(id) {
                this.$http.patch('/api/comment/' + id, this.comment).then(function (response) {
                    this.fetchCommentList();

                    this.comment.body = ''
                    this.edit = false
                });
            },

            showComment: function(id) {
                this.$http.get('/api/comment/' + id).then(function(response) {
                    this.comment.id = response.data.id
                    this.comment.body = response.data.body

                    this.edit = true
                    this.$refs.commentinput.focus()

                })
            },

            deleteComment: function (id) {
                this.$http.delete('/api/comment/' + id).then(function (response) {
                    this.fetchCommentList();
                });
            },
        }
    }
</script>