<template>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown notifs">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                <i class="fa fa-comments fa-lg"></i> <span id="messages_count" class="badge label-danger" v-show="comments_count > 0">{{ comments_count }}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-messages" >
                <li v-for="comment in comments" v-show="comment.text != ''">
                    <a :href="comment.url" ><span class="badge badge-danger" v-if="comment.new == 1">NEW</span><span v-if="comment.user.first_name"><b>{{ comment.user.first_name }} {{ comment.user.last_name }}:</b></span> <span v-html="comment.text"></span>
                        <div class="timeago" :title="comment.created_at">{{ comment.human_date }} <i class="fa fa-check"></i></div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown notifs">
            <a data-toggle="dropdown" aria-haspopup="true" class="dropdown-toggle" aria-expanded="true" v-on:click="mark_read()">
                <i class="fa fa-globe fa-lg"></i> <span id="notifs_count" v-show="notifications_count > 0" class="badge label-danger">{{ notifications_count }}</span> <span class="caret"></span>
            </a>

            <ul class="dropdown-menu dropdown-notifs">
                <li class="unread" v-for="notification in notifications" v-show="notification.text != ''">
                    <a v-if="notification.url" :href="notification.url" ><span v-if="notification.new == 1" class="badge badge-danger">NEW</span> <span v-html="notification.text"></span>
                        <div class="timeago" :title="notification.created_at">{{ notification.human_date }} <i class="fa fa-check"></i></div>
                    </a>
                    <a v-else href="javascript:void(0)"><span v-html="notification.text"></span>
                        <div class="timeago" :title="notification.created_at">{{ notification.human_date }} <i class="fa fa-check"></i></div>
                    </a>
                </li>
                <li class="allnotifs"><a href="/notifications/all">All Notifications</a></li>
            </ul>
        </li>
    </ul>
</template>

<script>
    export default {
        data: function() {
            return {
                notifications: [],
                comments: [],
                comments_count: 0,
                opened: 0,
                notifications_count: 0,
            };
        },

        mounted() {
            this.listen()
        },

        props: ['user_id', 'id_token'],

        created: function() {
            Vue.http.headers.common['Authorization'] = 'Bearer ' + this.id_token;

            this.fetchNotificationsList();
        },

        methods: {
            fetchNotificationsList: function () {
                this.$http.get('/api/notifications/'+this.user_id).then(function (response) {
                    if (response.body.status == 'success') {
                        this.notifications          = response.body.data.notifications;
                        this.notifications_count    = response.body.data.notifications_count;

                        this.comments       = response.body.data.comments;
                        this.comments_count = response.body.data.comments_count;
                    }
                });
            },
            mark_read: function () {
                if (this.opened == 0) {
                    this.opened = 1;
                    this.$http.get('/api/notifications/mark_all_read').then(function (response) {
                        if (response.body.status == 'success') {
                            $('#notifs_count').fadeOut();
                        }
                    });
                }
            },
            listen() {
                var _this = this;
                Echo.private('App.Models.Access.User.User.' + this.user_id)
                    .notification((notification) => {

                        noty({
                            timeout: false,
                            type: 'information',
                            layout: 'bottomLeft',
                            text: notification.text,
                            closeWith: ['backdrop', 'click'],
                        });

                        //If message
                        if (notification.type == 'App\\Notifications\\Comment\\UserNotifyComment') {

                            _this.comments_count = _this.comments_count+1;

                            _this.comments.unshift(notification);

                        } else {
                            _this.notifications_count = _this.notifications_count+1;

                            _this.notifications.unshift(notification);
                        }

                        if (notification.credit_quantity) {
                            var curr_count = parseInt($('#account_credits').html(), 10);
                            $('#account_credits').html(curr_count + parseInt(notification.credit_quantity, 10));
                        }

                    })
            }
        }
    }


</script>